*{
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

body{
  background-color: #E6E4FF;
  color: black;
  text-align: center;
}

h1{
  margin: 4rem;
}
p{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
  font-weight: 500;
  font-size: 2rem;
}
button{
  margin-top: 160px;
  background-color: #8B7AFF;
  width: 150px;
  height: 60px;
  font-size: 30px;
  border-radius: 40px;
}
