@tailwind base;
@tailwind components;
@tailwind utilities;

.teste {
  background: inline('src/assets/images/Profile_Jose.png');  
}

.sideOptions{
  @apply flex flex-row items-center mt-14 gap-2 text-2xl desktop:mt-16
}
.gamesSideBar{
  @apply flex items-center gap-1 mt-16 bg-primary/100 rounded-3xl pr-40
}

.gamesHeader{
  @apply flex items-center gap-1 bg-primary/100 rounded-3xl ml-6 min-w-[21rem]
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
  
}

body{
  background-color: #E6E4FF ;
}

#root {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}